<!DOCTYPE html>

<html ng-app="moneyApp">
<head>
	<link href="bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="style.css" rel="stylesheet">

	<script src="bower/jquery/dist/jquery.min.js"></script>
	<script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower/angular/angular.min.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Money</title>

	<script>

	var moneyApp = angular.module('moneyApp', []);

	moneyApp.controller('MoneyCtrl', function ($scope) {

		function round(number, n) {
			n = typeof n !== 'undefined' ? n : false;
			if (n) {
				x = Math.pow(10, n);
			} else {
				x = 1;
			}
			return Math.round(number * x) / x;
		}

	  $scope.usdToRub = 61;
	  $scope.bigMacPrice = 99;
	  $scope.minRusMonthIncome = round(5965 * (100 - 13) / 100);
	  $scope.iphonePrice = 49990;

	  $scope.hourIncomeInUsdBeforeTaxes = 0.7;
	  $scope.taxes = 6;
	  $scope.workingHours = 8;

	  $scope.calc = function(){
	  	$scope.hourIncomeInUsd = round($scope.hourIncomeInUsdBeforeTaxes * (100 - $scope.taxes) / 100, 2);

	  	$scope.minuteIncomeInUsd = round($scope.hourIncomeInUsd / 60, 2)
	  	$scope.dayIncomeInUsd = round($scope.hourIncomeInUsd * $scope.workingHours);
	  	$scope.weekIncomeInUsd = round($scope.dayIncomeInUsd * 5);
	  	$scope.monthIncomeInUsd = round($scope.weekIncomeInUsd * 4);
	  	$scope.yearIncomeInUsd = round($scope.monthIncomeInUsd * 12);

	  	$scope.minuteIncomeInRub = round($scope.minuteIncomeInUsd * $scope.usdToRub, 2);
	  	$scope.hourIncomeInRub = round($scope.hourIncomeInUsd * $scope.usdToRub);
	  	$scope.dayIncomeInRub = round($scope.dayIncomeInUsd * $scope.usdToRub);
	  	$scope.weekIncomeInRub = round($scope.weekIncomeInUsd * $scope.usdToRub);
	  	$scope.monthIncomeInRub = round($scope.monthIncomeInUsd * $scope.usdToRub);
	  	$scope.yearIncomeInRub = round($scope.yearIncomeInUsd * $scope.usdToRub);

	  	$scope.numberOfMinRus = round($scope.monthIncomeInRub / $scope.minRusMonthIncome, 2)
	  	$scope.timeForBigMac = Math.floor($scope.bigMacPrice / $scope.minuteIncomeInRub) + 1;
	  	$scope.timeForIphone = round($scope.iphonePrice / $scope.dayIncomeInRub, 1);
	  }
	  $scope.calc();
	});

	</script>
</head>
<body ng-controller="MoneyCtrl">

<div class="row">
  <div class="col-md-6">
	<form class="form-horizontal">
  	  <div class="form-group form-group-sm" >
	    <label class="col-sm-2 control-label" for="hourIncomeInUsdBeforeTaxes">$/hour</label>
	    <div class="col-sm-2">
	      <input class="form-control" type="text" id="hourIncomeInUsdBeforeTaxes" placeholder="$/hour" ng-model="hourIncomeInUsdBeforeTaxes" ng-change="calc()">
	    </div>
	  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="taxes">Taxes (%)</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="taxes" placeholder="Taxes (%)" ng-model="taxes" ng-change="calc()">
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="workingHours">Working Hours</label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="workingHours" placeholder="Working Hours" ng-model="workingHours" ng-change="calc()">
    </div>
  </div>
	</form>
  </div>
  <div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Income</h3>
  </div>
  <div class="panel-body">
		<table class="table">
			<tr>
				<th>Period</th>
				<th>₽</th>
				<th>$</th>
			</tr>
			<tr>
				<td>Year</td>
				<td>{{ yearIncomeInRub }}₽</td>
				<td>{{ yearIncomeInUsd }}$</td>
			</tr>
			<tr>
				<td>Month</td>
				<td>{{ monthIncomeInRub }}₽</td>
				<td>{{ monthIncomeInUsd }}$</td>
			</tr>
			<tr>
				<td>Week</td>
				<td>{{ weekIncomeInRub }}₽</td>
				<td>{{ weekIncomeInUsd }}$</td>
			</tr>
			<tr>
				<td>Day</td>
				<td>{{ dayIncomeInRub }}₽</td>
				<td>{{ dayIncomeInUsd }}$</td>
			</tr>
			<tr>
				<td>Hour</td>
				<td>{{ hourIncomeInRub }}₽</td>
				<td>{{ hourIncomeInUsd }}$</td>
			</tr>
			<tr>
				<td>Minute</td>
				<td>{{ minuteIncomeInRub }}₽</td>
				<td>{{ minuteIncomeInUsd }}$</td>
			</tr>
		</table>
		Number of minimal russian salaries you get in a month - {{ numberOfMinRus }}<br>
		Time in which you earn a Big Mac - {{ timeForBigMac }} min<br>
		Time in which you earn an iPhone - {{ timeForIphone }} days
  </div>

</div>
  </div>
  <div class="col-md-12">
	<form class="form-horizontal">
		<div class="form-group form-group-sm">
	    <label class="col-sm-2 control-label" for="usdToRub">$ -> ₽</label>
	    <div class="col-sm-2">
	      <input class="form-control" type="text" id="usdToRub" placeholder="$ -> ₽" ng-model="usdToRub" ng-change="calc()">
	    </div>
	  </div>
	  <div class="form-group form-group-sm">
	    <label class="col-sm-2 control-label" for="bigMacPrice">Big Mac Price (₽)</label>
	    <div class="col-sm-2">
	      <input class="form-control" type="text" id="bigMacPrice" placeholder="Big Mac Price (₽)" ng-model="bigMacPrice" ng-change="calc()">
	    </div>
	  </div>
	  <div class="form-group form-group-sm">
	    <label class="col-sm-2 control-label" for="iphonePrice">iPhone Price (₽)</label>
	    <div class="col-sm-2">
	      <input class="form-control" type="text" id="iphonePrice" placeholder="iPhone Price (₽)" ng-model="iphonePrice" ng-change="calc()">
	    </div>
	  </div>
	  <div class="form-group form-group-sm">
	    <label class="col-sm-2 control-label" for="minRusMonthIncome">Min Monthly Salary in Russia (₽)</label>
	    <div class="col-sm-2">
	      <input class="form-control" type="text" id="minRusMonthIncome" placeholder="Min Monthly Salary in Russia (₽)" ng-model="minRusMonthIncome" ng-change="calc()">
	    </div>
	  </div>
</form>
</div>


</div>




</body>
</html>